// 00.global.scss

@import "_modules/_variables.scss";
@import "_modules/_mixins.scss";

@import "_vendor/_normalize.scss";
@import "_vendor/_grid.generator.scss";


/********************************************************** Font Sizes */

$font-size-1: get-multiplier(40, $font-size-base) + em; // 40px
$font-size-2: get-multiplier(32, $font-size-base) + em; // 32px
$font-size-3: get-multiplier(24, $font-size-base) + em; // 24px
$font-size-4: get-multiplier(18, $font-size-base) + em; // 18px
$font-size-5: $font-size-base;                          // 16px
$font-size-6: get-multiplier(14, $font-size-base) + em; // 14px
$font-size-7: get-multiplier(11, $font-size-base) + em; // 11px


/********************************************************** Viewport */

@-webkit-viewport{width:device-width}
   @-moz-viewport{width:device-width}
    @-ms-viewport{width:device-width}
     @-o-viewport{width:device-width}
        @viewport{width:device-width}


/********************************************************** Grid */

// Generate the grid
@include gridGenerator(
  ($breakpoint-s, $breakpoint-m, $breakpoint-l), // breakpoints
  'em',         // breakpoint type 'px' or 'em'
  12,           // number of grid columns
  $space,     // outer padding
  ($space /2) // inner padding
  // use default prefixes
);


// Additional Grid Classes
.grid-centered {
  float: none;
  margin: 0 auto;
}


/********************************************************** Box Sizing *
  Box Sizing
  Apply a natural box layout model to all elements - http://paulirish.com/2012/box-sizing-border-box-ftw/
  border-box polyfill for IE 6/7: https://github.com/Schepp/box-sizing-polyfill#readme
*/

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;  *behavior: url(boxsizing.htc); }


/********************************************************** General */

* {
  -webkit-transition: all 0.4s ease-out; 
     -moz-transition: all 0.4s ease-out; 
       -o-transition: all 0.4s ease-out; 
          transition: all 0.4s ease-out; 
}

::-moz-selection { background: $grey-dark; color: $white; }
::selection { background: $grey-dark; color: $white; }

body,
html {
  background: $white;
}

img { max-width: 100%; }

a {
  color: $color-link;
  text-decoration: none;
  transition: all 0.4s ease-out;

  &:link    { color: $color-link; }
  &:visited { color: $color-link; }

  &:hover {
    color: darken($color-link, 10%);
    text-decoration: underline;
  }

  &.active,
  &:active { color: darken($color-link, 10%); }
}
