// _variables.scss
//   Variables should be named general to specific


// Breakpoints
$breakpoint-s: 960px;
$breakpoint-m: 1024px;
$breakpoint-l: 1200px;


// Media Queries
//   should match enquire.js values
$S: 'min-width:'+ $breakpoint-s;
$M: 'min-width:'+ $breakpoint-m;
$L: 'min-width:'+ $breakpoint-l;


// Color Pallete
$brand-yellow: #F9B341;
$brand-pink:   #EC008C;

$grey:       #888;
$grey-dark:  #333;
$grey-light: #888;

$white: #FFF;
$black: #000;


// Color
$color-text: $grey-dark;
$color-link: $brand-pink;


// Typography
$vertical-rhythm-base: 16; // 16/24 default vertical rhythm

$font-size-base: 1em; // Use browser default font-size, usually 16px

// font sizes defined in 00._global.scss
$font-size-1: 0;
$font-size-2: 0;
$font-size-3: 0;
$font-size-4: 0;
$font-size-5: 0;
$font-size-6: 0;
$font-size-7: 0;


// Spacing
$space: get-multiplier(24, $font-size-base) + em; // 24px to follow vertical rhythm


// Extra
$radius: $space /2;
