// _variables.scss
//   Variables should be named general to specific

// Breakpoints
$breakpoint-s: 960px;
$breakpoint-m: 1024px;
$breakpoint-l: 1200px;


// Media Queries
//   should match enquire.js values
$S: 'min-width:'+ $breakpoint-s;
$M: 'min-width:'+ $breakpoint-m;
$L: 'min-width:'+ $breakpoint-l;


// Color Pallete
$brand-yellow: #F9B341;
$brand-pink:   #EC008C;

$grey:       #888;
$grey-dark:  #333;
$grey-light: #888;

$white: #FFF;
$black: #000;


// Color
$color-text: $grey-dark;
$color-link: $brand-pink;


// Typography
                           // used in _mixins.scss
$vertical-rhythm-base: 16; // 16/24 default vertical rhythm

$font-size-base: 1em; // Use browser default font-size, usually 16px

$font-size-1: get-multiplier(40, $font-size-base) + em; // 40px
$font-size-2: get-multiplier(32, $font-size-base) + em; // 32px
$font-size-3: get-multiplier(24, $font-size-base) + em; // 24px
$font-size-4: get-multiplier(18, $font-size-base) + em; // 18px
$font-size-5: $font-size-base;                          // 16px
$font-size-6: get-multiplier(14, $font-size-base) + em; // 14px
$font-size-7: get-multiplier(11, $font-size-base) + em; // 11px


// Spacing
$space: get-multiplier(24, $font-size-base) + em; // 24px to follow vertical rhythm


// Extra
$radius: $space /2;
